.home-body  {
  width: 900px;
  margin: auto;
  padding-top: 3em;
  padding-bottom: 5em;
}

.plan-visit-header {
  color: green;
  font-size: 3em;
  font-weight: 700;
  line-height: 3em;
}

.plan-visit-description{
  margin: auto;
  max-width: 68vw;
  word-break: break-word;
  font-size: 1.25em;
  line-height: 1.5em;
  text-align: left;
}