.navbar {
  position: fixed;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  margin: 0px;
  margin-top: -0px;
  padding-top: 0px;
  padding-left: 20px;
  padding-right: 20px;
  height: 60px;
  width: 100vw;
  background-color: white;
  box-shadow:  0 1px 2px rgba(0, 0, 0, 0.2);
  z-index: 9999;
}

.menu-logo {
  position: relative;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: left;
  width: 100px;
}

.menu {
  font-size: 30px;
  cursor: pointer;
}

.menu:hover {
  color:green;
}

.logo {
  margin-top: 6px;
  margin-left: 10px;
  width: 30px;
  cursor: pointer;
}

.plan-new-trip {
  margin-right: 40px;
}

.new-trip-btn {
  padding-top: 11px;
  padding-left: 40px;
  padding-bottom: 11px;
  padding-right: 40px;
  border: none;
  border-radius: 20px;
  background-color: green;
  color: white;
  font-weight: 700;
  letter-spacing: .5px;
  cursor: pointer;
}

.new-trip-btn:hover {
  border: solid 1px #337152;
  background-color: whitesmoke; 
  color: #337152;
}
